:root {
  --primary-text-color: #757575;
  /* var(--primary-text-color) */
  --title-text-color: #212121;
  /* var(--title-text-color) */
  --accent-color: #2196f3;
  /* var(--accent-color) */
  --primary-white-color: #ffffff;
  /* var(--primary-white-color) */
}

body {
  color: #757575;
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
}
/* ---------------header   */
header {
  border-bottom: 1px solid #ececec;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  align-items: center;
  width: 1200px;
}

.list {
  list-style: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  margin: 0px;
  padding: 0px;
}
.logo {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  text-decoration: none;
}
.studio {
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

/* ========================= */
/* site nav */
/* ========================= */

.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
  position: relative;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: var(--anim);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  /* transform: translateY(0); */
  background-color: var(--accent-color);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.contact-link {
  color: var(--primary-text-color);
  text-decoration: none;
}

/* ========================= */
/* auth-nav */
/* ========================= */

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-link {
  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========================= */
/* main-nav */
/* ========================= */

.main-nav {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex;
  align-items: center;
}

/* ========================= */
/* hero section */
/* ========================= */

.hero {
  background-color: #2f303a;
  max-width: 1600px;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30;
  margin-top: 0;
  display: block;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.button-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  font-family: inherit;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;

  margin: 0 auto;
  display: block;

  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

h2,
li,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* ========================= */
/* переваги / feature-list */
/* ========================= */

.none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  margin-left: auto;
  margin-right: auto;

  display: block;
}

.conteiner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.feature-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.feature-item {
  max-width: 270px;
}

.feature-item::before {
  content: '';
  display: block;
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 30px;
}

.icon-1::before {
  content: '';
  background-image: url(../images/icon/antenna.svg);
}

.icon-2::before {
  content: '';
  background-image: url(../images/icon/clock.svg);
}

.icon-3::before {
  content: '';
  background-image: url(../images/icon/diagram.svg);
}

.icon-4::before {
  content: '';
  background-image: url(../images/icon/astronaut.svg);
}

.feature-list .feature-item + .feature-item {
  margin-left: 30px;
}

/* ========================= */
/* чим займаються */
/* ========================= */

.work-section {
  padding-top: 0;
}
.work-list {
  display: flex;
  margin-top: 50px;
}

.work-list .work-item + .work-item {
  margin-left: 30px;
}

.work-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
}

.work-item h3 {
  position: absolute;
  bottom: 0%;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);

  display: flex;

  justify-content: center;
}
/* ========================= */
/* наша команда */
/* ========================= */

.team {
  background: #f5f4fa;
}

.team-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

.team-list img {
  margin-bottom: 30px;
  margin-top: 0;
  display: block;
}

.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.team-item img {
  margin-bottom: 0;
}

.staff {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 0;
  text-align: center;
}
.staff p {
  margin-bottom: 16px;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.team-icon {
  fill: currentColor;
}

/* .team-icon:hover,
.team-icon:focus {
} */

/* ========================= */
/* Постоянные клиенты */
/* ========================= */
.section-partners {
}

.partners {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  list-style: none;
  padding: 0;
}

.section-name {
  margin-bottom: 50px;
}
.partner {
  margin-left: auto;
  margin-right: auto;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-img {
  display: flex;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  align-items: center;
  /* padding: 16px 32px; */
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 106px;
  max-height: 60px;
  fill: currentColor;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-img:hover,
.icon-img:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
/* ========================= */
/* підвал */
/* ========================= */
footer {
  background-color: #2f303a;
  font-family: inherit;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
.conteiner-footer {
  align-items: baseline;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 70px;
}

.footer-nav {
  list-style: none;
  font-style: normal;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  margin-top: 20px;
}
.footer-nav li {
  margin-bottom: 9px;
}

.footer-nav li:last-child {
  margin-bottom: 0;
}

.footer-nav a {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
}

.footer-nav .contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.add-maps {
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-white {
  color: var(--primary-white-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  text-decoration: none;
}

.footer-nav .contact-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.add-maps:hover,
.contact-link:focus,
.add-maps:focus {
  color: var(--accent-color);
}
.footer-item h3 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 12px;
  text-transform: uppercase;
}
.footer-item .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item .social-link:hover,
.footer-item .social-link:focus {
  background-color: var(--accent-color);
}

/* ========================= */
/* -------Портфолио--------- */
/* ========================= */

.samp-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  padding: 6px 22px;

  border-radius: 4px;
  border-color: transparent;
  box-sizing: border-box;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sample h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.sample p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.sample img {
  margin-bottom: 0;
}

.samp-button:hover,
.samp-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pointer {
  cursor: pointer;
}

.sample {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sample-item {
  gap: 30px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sample-img {
  display: block;
}
.content {
  border: 1px solid #eeeeee;
  margin-top: 0;
  padding: 20px 24px;
}

.sample-item:nth-child(3n) {
  margin-right: 0;
}

.sample-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.sample-nav {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.sample-item:hover,
.sample-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-text {
  position: relative;
  display: flex;
  align-items: center;
}

.text {
  position: absolute;
  font-size: 18px;
  line-height: 28px;

  color: #ffffff;
  letter-spacing: 0.03em;
  /* opacity: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform 250ms ease;

  background-color: rgba(33, 150, 243, 0.9);
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: changeTextColor;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;*/

  visibility: hidden;
  transition: 0.3s linear;
}
.img-text {
  overflow: hidden;
}

.sample-item:hover .text {
  /* opacity: 1; */
  transform: translateY(0%);
  visibility: visible;
}

/* .text::before {
  content: '';
  display: inline-block;
  position: absolute;

  opacity: 0;
  color: #ffffff;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
} */

/* ========================= */
/* -----модальне вікно------ */
/* ========================= */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* position: relative; */
  padding: 40px;
}

.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: #fff;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/* .feedback {
  margin-top: 4px;
} */
.modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  /* margin-top: 4px; */
}

.form {
  width: 448px;
}

.modal-icon {
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  position: absolute;

  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-top: 4px;

  outline: none;
}
.form-title input {
  padding: 11px 40px;
  height: 40px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
textarea {
  padding: 11px 15px;
  resize: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 120px;
}

.form-title input:hover,
.form-title input:focus {
  border-color: var(--accent-color);
}
.form-title input:hover + .modal-icon,
.form-title input:focus + .modal-icon {
  fill: var(--accent-color);
}

textarea:hover,
textarea:focus {
  border-color: var(--accent-color);
}
/* textarea:hover + .modal-icon,
textarea:focus + .modal-icon {
  fill: var(--accent-color);
} */

.form-title label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  /* width: 100%; */
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
}

.form-title {
  margin-bottom: 20px;
  margin-top: 12px;
}

.accept-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.policy {
  color: var(--accent-color);
}

.form-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
  /* outline: 2px solid #cccccc;
  outline-offset: -2px;
  border-radius: 8px; */

  transition: background-color 300ms;

  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  /* background: #ffffff;  */

  border-radius: 2px;
}

.modal-checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-form-icon {
  fill: transparent;
  transition: fill 300ms;
}

.modal-checkbox:checked + .checkbox-icon > .modal-form-icon {
  /* background-color: var(--primary-white-color); */
  fill: var(--primary-white-color);
}
.modal-checkbox {
  appearance: none;
}

.submit {
  display: block;
  align-content: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
}
/* ========================= */
/* -----форма футера------ */
/* ========================= */

.form-sub {
  margin-left: 23px;
}
.foot-modal-icon {
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
  position: absolute;
  /* width: ;
  height: ; */
  fill: var(--primary-white-color);
}

.form-email input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  width: 358px;
  height: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  margin-right: 12px;
}

.form-email {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
}

.foot-modal-wrap {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  position: relative;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  font-family: inherit;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border-color: transparent;
  padding: 10px 29px;
  min-width: 200px;
  max-height: 50px;
  text-align: center;

  margin: 0 auto;

  display: flex;
  align-items: center;

  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-modal-wrap:hover,
.foot-modal-wrap:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-btn-icon {
  display: flex;
}
